<section class="responsible_gaming">
    <h1 class="page-title">Responsible Gaming</h1>
    <p>We, at ZOOS - Games of Skill , offer fantasy sports &amp; poker as means of entertainment, and
        not out-of-control gaming. In that respect, we strongly encourage our players to play
        responsibly, in a disciplined manner and devoid of addiction.</p>
    <p>As a company, we have a responsibility to keep the game as healthy as possible, and as a player,
        you have a responsibility to follow those rules and guidelines that we set, so that the game is
        healthy entertainment, rather than a means of gambling. Moreover, we, as a company, strive to
        ensure that all play mechanics, promotions and marketing follow the letter of the law, and that
        these are minutely and daily monitored to prevent and put a stop to any unhealthy or illegal
        practices possible.</p>
    <p>Following are the guidelines we enforce:</p>
    <h3>Age verification</h3>
    <p>For a player to be active on our platform, he or she must be at least 18 years of age. Any
        player who has disguised his or her true age by providing ZOOS with false or obfuscated
        information in order to be active on the platform is liable to criminal persecution.</p>
    <ul>
        <li>Every person signing up for a new account must indicate that he/she is 18 years of age or more</li>
        <li>When a player transacts money on the platform, we collect ID and address proof of the player
            to ensure he/she is not underage</li>
        <li>We do not target underage players with our marketing and advertising</li>
        <li>We are a member of the All India Gaming Federation (<span class="subnavlink">"iF"</span>),
            with the purpose of self-regulating all Online Games of Skill within the territory of the
            Republic of India. The AIGF Charter can be found
            <a class="subnavlink" href="/aigf">here</a>
        </li>
    </ul>
    <h3>Location Verification</h3>
    <p>Any underage player who has provided dishonest or inaccurate information regarding their
        location may have all winnings forfeited and could face criminal prosecution.</p>
    <ul>
        <li>Please note that skill games are not allowed to be played with real money in the states of
            Assam, Andhra Pradesh, Odisha, Telangana, Meghalaya, Sikkim &amp; Nagaland, while online poker is
            further not allowed for users in the state of Gujarat.</li>
        <li>When a player creates an account with us, we collect their name, address, and birth date to
            confirm that the player is at least 18-years-old.</li>
        <li>This declaration is provided by every player by checking a box at the moment of login</li>
        <li>We do not target players in the above mentioned states with our marketing and advertising.</li>
    </ul>
    <h3>Take extra care</h3>
    <p>If you have children or teenagers in your household, take extra care to secure your computer and
        mobile devices.</p>
    <ul>
        <li>All Windows computers can be set up to have password control so that you must enter a password
            to get to the desktop, and mobile devices can be set up to require a passcode to unlock. In
            general, this is a good practice, but it’s even more important when there are children or
            teenagers in your household. Also, keep your ZOOS ID and password private. If you have any
            concern that somebody else might attempt to access your ZOOS Account, you should not allow
            the software to remember your password.</li>
        <li>If you have children or teenagers in your household, use protection software that allows you
            to limit the websites to which they have access, prevent file sharing, and generally give you
            detailed control over how your children use the Internet.</li>
        <li>If you are aware of an underage person using our platform, let us know. Simply send an email
            to <span class="subnavlink">help@ZOOS.in</span> and we will get right on it. Our first step
            is to investigate, and if warranted, freeze the player’s account and request identification from
            that player. We take these reports seriously.</li>
        <li>Be a responsible parent. In many ways, this is nothing more than keeping your eyes and ears
            open. If you hear your children talking about online game accounts, deposits, and withdrawals,
            start asking questions. If you see the software on your child's computer, uninstall it and ask
            more questions. A responsible parent is the best start to preventing underage gaming.</li>
    </ul>
    <h3>Self-exclusion</h3>
    <p>For self-exclusion, we provide you with the following options:</p>
    <ul>
        <li>You can stop yourself from playing poker or fantasy sports for a cooling-off period, which can
            range anywhere from 1 day to 6 months.</li>
        <li>You can set limits to the amount of money you are spending on our platform. These are the
            limits you can set:
            <ul>
                <li>Max deposit: this will prevent you from depositing more than a maximum amount that you
                    nominate in a single transaction, or all transactions in a given period</li>
                <li>No. of deposits: this will prevent you from making more than a maximum number of deposits
                    in a given period</li>
                <li>Max Buy Ins limit: You can limit the amount of money you spend in a single transaction on
                    the platform, across all games. In poker, you can limit both buy-in amounts as well as
                    table stakes</li>
                <li>Loss limits: You can also set a maximum limit of losses that you can take on the platform
                    for daily and for weekly limits . Your participation in all cash games will be barred for
                    a period of 14 days after the limit is hit</li>
            </ul>
        </li>
    </ul>
    <h3>Precautions</h3>
    <h4>Do's</h4>
    <ul>
        <li>You should play ZOOS with money that you can afford to lose.</li>
        <li>You should decide in advance how much money you will spend playing the game and that money
            should not be a part of your previous ZOOS reserve.</li>
        <li>You should complete all your personal and other important tasks before sitting to play ZOOS
            so that you can play the game with a free mind.</li>
        <li>You should also decide on the number of hours you will be devoting to the game.</li>
        <li>You should keep track of your performance level so that you can be mindful enough to realize
            when to stop playing the game.</li>
        <li>You should play the game as per your competency level, and should not deliberately switch to
            higher tables after back-to-back winnings.</li>
        <li>You should always set deposit limits while playing ZOOS so that you never deposit more than
            you can afford to lose.</li>
    </ul>
    <h4>Dont's</h4>
    <ul>
        <li>You should not play ZOOS by taking loans.</li>
        <li>You should not get into a game if you have other planned tasks on hand.</li>
        <li>You should not play ZOOS in a sad or mad mood. This affects your game performance
            ultimately leading you in losing money.</li>
        <li>You should not bet all your money in a single game.</li>
        <li>You should take a break and pause playing for a while if you have lost money continuously 3-4
            times.</li>
        <li>You should not play ZOOS with money that you need for things that are essential namely rent
            or bills or even food.</li>
        <li>You should not chase losses. Even if you have continuous losses, don’t try to recoup them at
            tables with higher stakes</li>
    </ul>
</section>