<section class="tds svelte-2kbm4m">
    <h1 class="page-title">TDS Policy</h1>
    <ul class="svelte-2kbm4m">
        <li class="svelte-2kbm4m">
            <p class="svelte-2kbm4m">Starting from 1st April 2023, the Finance Act, of 2023 requires all the ZOOS
                players to
                comply with the new TDS policy.</p>
        </li>
        <li class="svelte-2kbm4m">
            <p class="svelte-2kbm4m">TDS is applicable at the time of withdrawal.</p>
        </li>
        <li class="svelte-2kbm4m">
            <p class="svelte-2kbm4m">At the end of the financial year, players will be subject to a TDS deduction on
                their
                year-end wallet balance (excluding the amount on the table/contest) by considering it as a
                withdrawal amount. After applying TDS on the year-end wallet balance, the remaining amount
                will be carried forward to the next financial year as the starting balance.</p>
        </li>
        <li class="svelte-2kbm4m">
            <p class="svelte-2kbm4m">The carried forward balance will be considered a Deposit for the next year, and TDS
                will not
                apply for that amount. However, any further winnings from the carried forward balance will
                be subject to the 30% TDS deduction at the time of withdrawal.</p>
        </li>
    </ul>
    <p class="svelte-2kbm4m">Here, <strong>Net winnings = Total Withdrawals - Total Deposits (in a financial
            year)</strong>.
        Apr 1 to Mar 31 duration is considered a financial year.</p>
    <p class="svelte-2kbm4m">To provide an example,</p>
    <p class="svelte-2kbm4m">Suppose a player made deposits totaling Rs. 1,00,000 during the financial year from April
        1,
        2023, to March 31, 2024. They also made withdrawals totaling Rs. 1,50,000 during the same
        period. In this case, their net winnings for the financial year would be calculated as follows:</p>
    <p class="svelte-2kbm4m">Net winnings = Total Withdrawals - Total Deposits</p>
    <p class="svelte-2kbm4m">Net winnings = Rs. 1,50,000 - Rs. 1,00,000</p>
    <p class="svelte-2kbm4m">Net winnings = Rs. 50,000</p>
    <p class="svelte-2kbm4m">Therefore, in this case, the player's net winnings for the financial year would be Rs.
        50,000,
        and they would be subject to a 30% tax deduction at source on this amount at the time of
        withdrawal.</p>
    <p class="svelte-2kbm4m">Some scenarios to help you better understand the application of the TDS policy. Here are a
        few
        examples:</p>
    <h3 class="svelte-2kbm4m">Scenario: 1</h3>
    <p class="svelte-2kbm4m">If a player's net winnings (including the withdrawal amount) are more than zero, then a TDS
        deduction of 30% will be made on the net winnings at the time of withdrawal.</p>
    <h4 class="svelte-2kbm4m">Example:</h4>
    <table class="svelte-2kbm4m">
        <tbody>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total withdrawals in the financial year (A)</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹10,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total deposits in the financial year (B)</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹20,000</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="svelte-2kbm4m">In the above scenario, if you further withdraw ₹14,000, then:</p>
    <p class="svelte-2kbm4m">Total withdrawals = 10,000 + 14,000 = 24,000</p>
    <p class="svelte-2kbm4m">Total Deposits = 20,000</p>
    <p class="svelte-2kbm4m">Net winnings = 24,000 - 20,000 = 4,000.</p>
    <table class="svelte-2kbm4m">
        <tbody>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Net Winnings</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹4,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">TDS on taxable amount @30%</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹1200</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">The amount credited to your bank account</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹12,800</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="svelte-2kbm4m"><strong>Zero TDS Withdrawal amount</strong>: Instead of ₹14,000, if you withdraw ₹10,000,
        then
        the net tax payable would be ₹0.</p>
    <p class="svelte-2kbm4m">Total withdrawals = ₹10,000 + ₹10,000 = ₹20,000</p>
    <p class="svelte-2kbm4m">Total Deposits = ₹20,000</p>
    <p class="svelte-2kbm4m">Net winnings = ₹20,000 - ₹20,000 = ₹0</p>
    <h3 class="svelte-2kbm4m">Scenario: 2</h3>
    <table class="svelte-2kbm4m">
        <tbody>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total withdrawals in the financial year</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹20,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total deposits in the financial year</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹20,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">TDS paid in the financial year <br>(TDS paid on winnings of ₹6,000 as
                        initially, you
                        had positive net winnings of ₹6,000)</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹1,800</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="svelte-2kbm4m">In this scenario, No TDS is applicable till your net winnings cross ₹6,000 (winnings
        already
        taxed):</p>
    <p class="svelte-2kbm4m"><strong>Zero TDS Withdrawal amount:</strong></p>
    <p class="svelte-2kbm4m">If you withdraw up to ₹6,000, no TDS is applicable</p>
    <p class="svelte-2kbm4m">If you withdraw ₹10, 000, then 30% TDS is applicable only on ₹4,000 winnings i.e. ₹1,200.
    </p>
    <h3 class="svelte-2kbm4m">Scenario: 3</h3>
    <p class="svelte-2kbm4m">If a player has paid TDS on their initial winnings during the financial year but their net
        winnings have reduced post that, then</p>
    <h4 class="svelte-2kbm4m">Example:</h4>
    <p class="svelte-2kbm4m">The user has carried out the following transactions and has been charged ₹6,000 as TDS.</p>
    <table class="svelte-2kbm4m">
        <tbody>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total withdrawals</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹40,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total deposits</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹20,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Net winnings</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹20,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">TDS according to the current transaction</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹6,000</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="svelte-2kbm4m">After the following transaction, the player has made a further deposit of ₹20,000, but the
        player’s net winnings has reduced to ₹0.</p>
    <table class="svelte-2kbm4m">
        <tbody>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total withdrawals</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹40,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total deposits</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹40,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Net winnings</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹0</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">TDS paid to date</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹6,000</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="svelte-2kbm4m">Then, subject to applicable law, the excess TDS deducted can be claimed as a refund in your
        annual income tax filing.</p>
    <h3 class="svelte-2kbm4m">Scenario: 4</h3>
    <p class="svelte-2kbm4m">According to the TDS policy, if a player has money in their wallet at the end of the
        financial
        year (excluding the amount on the table/contest), TDS will be calculated on that amount as a
        withdrawal for the year.</p>
    <p class="svelte-2kbm4m">The remaining amount will be carried forward to the next year as the starting balance.
        Withdrawals from the starting balance in the next financial year won't be subject to TDS, but if
        the player has net winnings during the next financial year, TDS will be calculated on the net
        winnings at the time of withdrawal.</p>
    <h4 class="svelte-2kbm4m">Example:</h4>
    <table class="svelte-2kbm4m">
        <tbody>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total withdrawals in the financial year</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹40,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total deposits in the financial year</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹40,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">TDS paid till date(on winning amount of ₹5,000 as initially you had
                        positive net
                        winnings of ₹5,000)</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹1,500</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Account balance at the end of Mar 31, 2024</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹30,000</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="svelte-2kbm4m"><strong>In the above scenario, the following calculation is done:</strong></p>
    <table class="svelte-2kbm4m">
        <tbody>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total withdrawals in the financial year</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹70,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Total deposits in the financial year</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹40,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Net winnings</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹30,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">New winnings already taxed</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹5,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">Taxable net winnings</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹25,000</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">TDS @30%</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹7,500</p>
                </td>
            </tr>
            <tr>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">The amount carried forward as a deposit, for next financial year</p>
                </td>
                <td class="svelte-2kbm4m">
                    <p class="svelte-2kbm4m">₹22,500</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="svelte-2kbm4m">Thus, ₹7,500 TDS will be deducted from your account balance at the end of Mar 31, 2024, and
        the
        remaining balance of ₹22,500 will be carried forward to the next financial year as a deposit
        amount. You will not have to pay TDS in the next financial year on withdrawal of this amount.</p>
    <p class="svelte-2kbm4m"><strong>Kindly Note:</strong></p>
    <ul class="svelte-2kbm4m">
        <li class="svelte-2kbm4m">
            <p class="svelte-2kbm4m">Important to note that the TDS policy is based on the understanding of the
                provisions as
                introduced or amended by the Finance Act, 2023. The company reserves its right to modify,
                change, or amend the TDS policy based on the law applicable at the relevant time.</p>
        </li>
        <li class="svelte-2kbm4m">
            <p class="svelte-2kbm4m">As the tax laws are subject to change from time to time, it is important for
                ZOOS players
                to keep themselves updated on any changes to the TDS policy. The company will make every
                effort to communicate any changes to the policy in a timely and transparent manner.</p>
        </li>
    </ul>
    <h3 class="svelte-2kbm4m">Frequently Asked Questions</h3>
    <div class="faqSection svelte-2kbm4m">
        <ol>
            <li class="faq svelte-2kbm4m">
                <h4 class="heading svelte-2kbm4m">Will the TDS be deducted if my net winnings from a single
                    contest/session are more than 10,000?</h4>
                <ul class="svelte-2kbm4m hide">
                    <li class="medium content svelte-2kbm4m">No, due to the change in the TDS policy, the net winnings
                        are calculated at the financial year level based on the formula (Net Winnings = Total
                        Withdrawals - Total Deposits). And if the net winnings are positive, 30% of TDS on the net
                        winnings is deducted from the withdrawal amount. </li>
                </ul>
            </li>
            <li class="faq svelte-2kbm4m">
                <h4 class="heading svelte-2kbm4m">How does the New TDS policy work?</h4>
                <ul class="svelte-2kbm4m hide">
                    <li class="medium content svelte-2kbm4m">Suppose a player made deposits totaling ₹1,00,000 during
                        the financial year from April 1st to March 31st. They also made withdrawals totaling ₹1,50,000
                        during the same period. In this case, their net winnings for the financial year would be
                        calculated as follows: </li>
                    <li class="medium content svelte-2kbm4m">Net Winnings = Total Withdrawals - Total Deposits </li>
                    <li class="medium content svelte-2kbm4m">Net winnings = ₹1,50,000 - ₹1,00,000 </li>
                    <li class="medium content svelte-2kbm4m">Net winnings = ₹50,000 </li>
                    <li class="medium content svelte-2kbm4m">TDS = 50,000 * 30% = ₹15,000 </li>
                </ul>
            </li>
            <li class="faq svelte-2kbm4m">
                <h4 class="heading svelte-2kbm4m">What will happen if I don't withdraw my winnings at the end of the
                    financial year?</h4>
                <ul class="svelte-2kbm4m hide">
                    <li class="medium content svelte-2kbm4m">According to the New TDS policy, if a player has money in
                        their wallet at the end of the financial year, TDS will be calculated on that amount as a
                        withdrawal for the year. The remaining amount will be carried forward to the next year as the
                        starting balance. </li>
                </ul>
            </li>
            <li class="faq svelte-2kbm4m">
                <h4 class="heading svelte-2kbm4m">What if I have positive net winnings in the first withdrawal, and then
                    my net winnings reduce?</h4>
                <ul class="svelte-2kbm4m hide">
                    <li class="medium content svelte-2kbm4m">If a player has paid TDS on their initial winnings during
                        the financial year, but their net winnings have reduced post that, then the user can claim a
                        refund in the annual income tax filing. </li>
                </ul>
            </li>
        </ol>
    </div>
</section>