<section class="privacy_policy">
    <h4 class="page-title">Fairplay Policy</h4>

    <p>
        Fairplay Policy for Zoos Gaming App by Evantage Future Game Solution Private Limited

Effective Date: 12 July 2023

This Fairplay Policy outlines the guidelines and principles for fair gameplay and user conduct on the Zoos gaming app and its associated website (zoos.in), provided by Evantage Future Game Solution Private Limited (referred to as "Company," "We," "Us," or "Our"). By using Zoos, you acknowledge and agree to comply with this Fairplay Policy.

1. Integrity and Fairness:
   a. We are committed to maintaining a fair and level playing field for all Zoos users.
   b. Any form of cheating, hacking, exploiting, or using unauthorized third-party software to gain an unfair advantage is strictly prohibited.
   c. Users must not engage in any activity that compromises the integrity of the games, disrupts the experience of other players, or violates the terms of service.

2. Respectful Conduct:
   a. Users are expected to treat each other with respect, courtesy, and sportsmanship.
   b. Harassment, bullying, discrimination, or any form of abusive behavior towards other users will not be tolerated.
   c. Users should refrain from engaging in any activity that may offend, defame, or harm the reputation of others.

3. Unauthorized Access and Account Sharing:
   a. Users must not share their Zoos account information with others or allow unauthorized access to their account.
   b. Each user is responsible for maintaining the security of their account credentials and ensuring they are not used by unauthorized individuals.

4. Reporting Violations:
   a. If you suspect or witness any violations of this Fairplay Policy, including cheating, hacking, or abusive behavior, please report them to our support team at [email protected]
   b. Provide detailed information, including usernames, timestamps, and any supporting evidence, to assist in the investigation of the reported violation.

5. Consequences of Violations:
   a. Violations of this Fairplay Policy may result in disciplinary action, including but not limited to warnings, temporary suspensions, or permanent bans from using Zoos.
   b. The severity of the disciplinary action will be determined at the discretion of the Company, taking into account the nature and extent of the violation.

6. Updates to the Fairplay Policy:
   a. We reserve the right to update or modify this Fairplay Policy at any time. The updated version will be posted on zoos.in.
   b. By continuing to use Zoos after any changes to this policy, you acknowledge and agree to the updated terms.

7. Contact Information:
   If you have any questions or concerns regarding our Fairplay Policy, please contact us at support@zoos.in

Please also refer to our Terms of Use and Privacy Policy for more information on the terms and conditions of using Zoos.

Last updated: 12 July 2023
    </p>
</section>
