
<section class="privacy_policy">
    <h4 class="page-title"> Refund and Cancellation Policy</h4>


<p>
    Refund and Cancellation Policy for Zoos Gaming App by Evantage Future Game Solution Private Limited

Effective Date: 12 July 2023

This Refund and Cancellation Policy outlines the procedures and guidelines regarding refunds and cancellations for the Zoos gaming app and its associated website (zoos.in), provided by Evantage Future Game Solution Private Limited (referred to as "Company," "We," "Us," or "Our"). By using Zoos, you acknowledge and agree to comply with this Refund and Cancellation Policy.

1. Refunds:
   a. Purchases made within the Zoos app, including in-game currency or rewards, are final and non-refundable, unless required by applicable law.
   b. We do not provide refunds for any unused in-game currency, rewards, or virtual items, regardless of the reason for termination, suspension, or cancellation of your Zoos account.
   c. If you believe there has been an error or unauthorized transaction on your account, please contact our support team at [email protected] with relevant details for further assistance.

2. Cancellations:
   a. Subscription Cancellations:
      i. If you have subscribed to a premium or subscription-based service within Zoos, you may cancel your subscription at any time.
      ii. To cancel your subscription, follow the instructions provided within the app or contact our support team.
      iii. Cancellation requests made after a subscription renewal may not be eligible for a refund, and the subscription will remain active until the next billing cycle.
   b. Account Cancellations:
      i. You have the right to request the cancellation and deletion of your Zoos account at any time.
      ii. To cancel your account, please contact our support team or follow the account deletion instructions provided within the app.
      iii. Account cancellation requests may not entitle you to a refund for any in-app purchases or unused balances.

3. Changes to Purchases and Services:
   a. We reserve the right to modify, suspend, or terminate any in-app purchases, services, or features within Zoos, with or without prior notice.
   b. In the event of a modification, suspension, or termination, you will not be entitled to a refund or compensation, unless required by applicable law.

4. Contact Information:
   If you have any questions or need further assistance regarding refunds or cancellations, please contact our support team at [email protected]

Please note that any disputes or claims arising from this Refund and Cancellation Policy will be governed by the dispute resolution procedures outlined in our Terms of Use.

We reserve the right to update or modify this Refund and Cancellation Policy at any time. The updated version will be posted on zoos.in. By continuing to use Zoos after any changes to this policy, you acknowledge and agree to the updated terms.

Last updated: 12 July 2023
</p>


</section>