<section class="terms_of_service">
    <h1 class="page-title">Intellectual Property</h1>
    <ul>
        <li>ZOOS includes a combination of content created by ZOOS, its partners, licensors,
            associates and/or Users. The intellectual property rights ("Intellectual Property Rights") in
            all software underlying ZOOS and Amusement Facilities and material published on ZOOS,
            including (but not limited to) games, Contests, software, advertisements, written content,
            photographs, graphics, images, illustrations, marks, logos, audio or video clippings and Flash
            animation, is owned by ZOOS, its partners, licensors and/or associates. Users may not
            modify, publish, transmit, participate in the transfer or sale of, reproduce, create
            derivative works of, distribute, publicly perform, publicly display, or in any way exploit any
            of the materials or content on ZOOS either in whole or in part without express written
            license from ZOOS.</li>
        <li>Users are solely responsible for all materials (whether publicly posted or privately
            transmitted) that they upload, post, e-mail, transmit, or otherwise make available on ZOOS
            ("Users' Content"). Each User represents and warrants that he/she owns all Intellectual
            Property Rights in the User's Content and that no part of the User's Content infringes any
            third party rights. Users further confirm and undertake to not display or use of the names,
            logos, marks, labels, trademarks, copyrights or intellectual and proprietary rights of any
            third party on ZOOS. Users agree to indemnify and hold harmless ZOOS, its directors,
            employees, affiliates and assigns against all costs, damages, loss and harm including towards
            litigation costs and counsel fees, in respect of any third party claims that may be initiated
            including for infringement of Intellectual Property Rights arising out of such display or use
            of the names, logos, marks, labels, trademarks, copyrights or intellectual and proprietary
            rights on ZOOS, by such User or through the User's commissions or omissions.</li>
        <li>Users hereby grant to ZOOS and its affiliates, partners, licensors and associates a
            worldwide, irrevocable, royalty-free, non-exclusive, sub-licensable license to use, reproduce,
            create derivative works of,distribute, publicly perform, publicly display, transfer, transmit,
            and/or publish Users' Content for any of the following purposes:
            <ul>
                <li>displaying Users' Content on ZOOS</li>
                <li>distributing Users' Content, either electronically or via other media, to other Users
                    seeking to download or otherwise acquire it, and/or</li>
                <li>storing Users' Content in a remote database accessible by end users, for a charge.</li>
                <li>This license shall apply to the distribution and the storage of Users' Content in any
                    form, medium, or technology.</li>
            </ul>
        </li>
        <li>All names, logos, marks, labels, trademarks, copyrights or intellectual and proprietary rights
            on ZOOS(s) belonging to any person (including User), entity or third party are recognized
            as proprietary to the respective owners and any claims, controversy or issues against these
            names, logos, marks, labels, trademarks, copyrights or intellectual and proprietary rights
            must be directly addressed to the respective parties under notice to ZOOS.</li>
    </ul>
</section>