* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0;
	margin: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Montserrat:wght@100;400&display=swap');


html {
	min-height: 100%;
	font-size: 4.4445vw;
}

body {
	font-family: 'Alumni Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;

	background-color: #00031A;
	color: #ffffff;
	overflow-x: hidden;
}

@media screen and (min-width: 470px) {
	html {
		font-size: 20.88915px;
	}
}

main {
	width: 100%;
	margin: auto;
	max-width: 470px;
	padding: 0;
	position: relative;
}

h1 {
	font-weight: 700;
	font-size: 3.125rem;
	line-height: 110%;
	letter-spacing: -0.045em;
}

h2 {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 110%;
	letter-spacing: -0.045em;
}

h3 {
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 110%;
	letter-spacing: -0.045em;
}

h4 {
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 110%;
	letter-spacing: -0.045em;
}

h5 {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 110%;
	letter-spacing: -0.045em;
}

h6 {
	font-weight: 600;
	font-size: 1rem;
	line-height: 110%;
	letter-spacing: -0.045em;
}

p.large {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 110%;
	letter-spacing: -0.045em;
}

p.medium {
	// font-weight: 500;
	// font-size: 0.75rem;
	// line-height: 158%;
	// letter-spacing: -0.045em;

	font-weight: 500;
    font-size: 0.60rem;
    line-height: 158%;
    letter-spacing: -0.045em;
}

p.small {
	font-weight: 400;
	font-size: 0.6875rem;
	line-height: 110%;
	letter-spacing: -0.045em;
}

button {
	border: none;
	outline: none;
}

a,
a:active,
a:focus {
	text-decoration: none;
}

// @font-face {
// 	font-family: 'Proxima Nova';
// 	font-style: normal;
// 	font-weight: 300;
// 	font-display: swap;
// 	// src: url(./fonts/proximaNova/Proxima-Nova-Light.otf) format('truetype');

// }
// @font-face {
// 	font-family: 'Proxima Nova';
// 	font-style: normal;
// 	font-weight: 400;
// 	font-display: swap;
// 	// src: url(./fonts/proximaNova/Proxima-Nova-Regular.otf) format('truetype');
// }
// @font-face {
// 	font-family: 'Proxima Nova';
// 	font-style: normal;
// 	font-weight: 600;
// 	font-display: swap;
// 	// src: url(./fonts/proximaNova/Proxima-Nova-Semibold.otf) format('truetype');
// }
// @font-face {
// 	font-family: 'Proxima Nova';
// 	font-style: normal;
// 	font-weight: 700;
// 	font-display: swap;
// 	// src: url(./fonts/proximaNova/Proxima-Nova-Bold.otf) format('truetype');
// }
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

@keyframes topleft {
	0% {
		width: 0;
		height: 0;
		visibility: visible;
	}

	25% {
		width: 0;
		height: 2rem;
		visibility: visible;
	}

	50% {
		width: 100%;
		height: 2rem;
		visibility: visible;
	}

	75% {
		width: 100%;
		height: 2rem;
		visibility: visible;
	}

	100% {
		width: 100%;
		height: 2rem;
		visibility: visible;
	}
}

@keyframes bottomright {
	0% {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	25% {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	50% {
		height: 0;
		width: 0;
		visibility: hidden;
	}

	75% {
		height: 2rem;
		width: 0;
		visibility: visible;
	}

	100% {
		height: 2rem;
		width: 100%;
		visibility: visible;
	}
}

.tds_redirect {
	color: #ffffff;
}